header {
  background-color: red;
  display: flex;
  width: 1920px;
  height: 207px;
  padding: 60px 0px 97px 0px;
  color: white;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

header h1 {
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: capitalize;
  font-family: Londrina Solid;
}

.menu {
  display: flex;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #faf7f2;
}

header span {
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product h4 {
  display: flex;
  width: 600px;
  height: 56px;
  flex-shrink: 0;
  font-family: Barlow;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
  align-items: center;
}

.product-info {
  display: inline-flex;
  align-items: center;
  gap: 260px;
  width: 600px;
}

.content {
  display: flex;
  gap: 5em;
  font-size: 0.85em;
  font-weight: 100;
}

.info-text {
  text-align: left;
  width: 600px;
  height: 150px;
  font-family: Barlow;
  font-size: 16px;
  line-height: 25px;
}

.form-first-area {
  display: flex;
  width: 600px;
  height: 100px;
  flex-direction: column;
  flex-wrap: wrap;
}

.size {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-first-area span {
  color: red;
}

.thickness {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
}

.extra {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.extra p {
  text-align: start;
  margin: 0;
}

.extra-details {
  display: flex;
  margin-top: 20px;
  width: 600px;
  flex-wrap: wrap;
}

.extra-details div {
  text-align: left;
  width: 200px;
}

.note {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 50px 0 30px 0;
  font-weight: 700;
  font-family: Barlow;
}

.sayac {
  display: flex;
  gap: 1em;
  width: 10vw;
  height: 5vh;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.decrease,
.increase {
  background-color: rgb(236, 203, 12);
  width: 3vw;
  height: 5vh;
  border-radius: 10%;
}

.end {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.total-area {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5%;
  line-height: 0.5;
  width: 20vw;
}

.total-area h4 {
  margin-left: 50px;
}

.chooses {
  display: flex;
  justify-content: space-around;
  color: grey;
  font-weight: bold;
}
.total {
  display: flex;
  justify-content: space-around;
  color: red;
  font-weight: bold;
}

.total-area button {
  width: 100%;
  height: 35px;
  background-color: rgb(236, 203, 12);
  border-radius: 5%;
}

#order-button {
  text-decoration: none;
}
